body{
    background-color: #EEE2DE;
}
h1{
    color: #176B87; background-color: #DAFFFB;  text-align: center;
}
h2{
    color: #2B2A4C; text-align: center; background-color: azure;
}
.colour-in{
    color: #DAFFFB; 
}
